<section class="bg-dark text-light seccion" id="nuestra-vision">
    <div class="container">
      <div class="col">
        <h2 class="fs-1 mb-5 subtitulo"><strong>Nuestra<span class="naranja-coope"> visión</span></strong>
        </h2>
        <p class="fs-4">el encuentro nos construye / la horizontalidad nos transforma / lo propio se hace colectivo / 
          los vínculos, nuestro recurso / el juego, nuestro espacio
          </p>
        <p class="fs-4 mt-5">/ el trabajo que nos gusta</p>
      </div>
    </div>
  </section>