<section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://www.youtube.com/watch?v=TZupTi3NZqc" title="Cábala, un corto mundialista" target="_blank">
            <img class="img-fluid" src="assets/img/portada/cabala.png" alt="Portada del cortometraje Piedra libre" />
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">Cortometrajes</div>
              <div class="project-name">Cábala, un corto mundialista</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://www.youtube.com/watch?v=82PUf5ao3QU" title="La Nena" target="_blank">
            <img class="img-fluid" src="assets/img/portada/lanena.png" alt="Portada del cortometraje La Nena" />
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">Cortometrajes</div>
              <div class="project-name">La Nena</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://youtu.be/p5GeoYs6mXw" title="Piedra libre" target="_blank">
            <img class="img-fluid" src="assets/img/portada/piedralibre.png" alt="Portada del cortometraje Piedra libre" />
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">Cortometrajes</div>
              <div class="project-name">Piedra libre</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://youtu.be/7fEOnOFoZHU" title="Lo nuestro" target="_blank">
            <img class="img-fluid" src="assets/img/portada/lonuestro.png" alt="Portada del cortometraje Lo Nuestro" />
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">Cortometrajes</div>
              <div class="project-name">Lo nuestro</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://www.youtube.com/watch?v=9a-m7M3WKEQ" title="Comercial Grupo de Estudios" target="_blank">
            <img class="img-fluid" src="assets/img/portada/piero.png" alt="Portada del comercial de Piero Grupo de Estudios" />
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">Comerciales</div>
              <div class="project-name">Comercial para Piero "Grupo de Estudios"</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://www.youtube.com/watch?v=7IkShHs9bk8" title="Nada Cambió - Rudy" target="_blank">
            <img class="img-fluid" src="assets/img/portada/nadacambio.png" alt="Portada del videoclip Nada Cambio de Rudy" />
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">Videoclips Musicales</div>
              <div class="project-name">Nada Cambió - Rudy</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>