<section class="text-light seccion" id="team">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/guada.jpg" alt="..." />
                    <h4 class="text-dark team-name">Guadalupe Funes</h4>
                    <p class="text-muted mb-0 fs-5">Presidenta</p>
                    <p class="text-muted">Profesora de artes en Teatro. Actriz. Se desempeña como docente y coordinadora
                        de talleres de La Coope Films.</p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/dante.jpg" alt="..." />
                    <h4 class="text-dark team-name">Dante De Noia Vega</h4>
                    <p class="text-muted mb-0 fs-5">Tesorero</p>
                    <p class="text-muted">Licenciado en Cine y TV. Área de realización audiovisual. Se desempeña como
                        director, guionista, editor de video, y docente de La Coope Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/gabi.jpg" alt="..." />
                    <h4 class="text-dark team-name">Gabriel Elettore</h4>
                    <p class="text-muted mb-0 fs-5">Síndico</p>
                    <p class="text-muted">Licenciado en Cine y Tv. Área de Realización audiovisual. Se desempeña como
                        director, guionista, y docente de La Coope Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/teti.jpg" alt="..." />
                    <h4 class="text-dark team-name">Cristian Cavo</h4>
                    <p class="text-muted mb-0 fs-5">Socio</p>
                    <p class="text-muted">Profesor universitario en técnicas teatrales y dirección actoral. Actor. Se
                        desempeña como docente y coordinador de talleres de La Coope Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/negra.jpg" alt="..." />
                    <h4 class="text-dark team-name">Valeria Beltramo</h4>
                    <p class="text-muted mb-0 fs-5">Socia</p>
                    <p class="text-muted">Egresada del Seminario de Teatro Jolie Libois. Actriz. Se desempeña como
                        docente y coordinadora de talleres de La Coope Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/mili.jpg" alt="..." />
                    <h4 class="text-dark team-name">Milagros Centeno</h4>
                    <p class="text-muted mb-0 fs-5">Socia</p>
                    <p class="text-muted">Técnica Superior en Diseño Gráfico y Publicitario. Actriz.
                        Se desempeña como diseñadora, manejo de redes, coach actoral y coordinadora
                        de talleres de La Coope Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/fer.jpg" alt="..." />
                    <h4 class="text-dark team-name">Fernando Ariel Rolando</h4>
                    <p class="text-muted mb-0 fs-5">Socio</p>
                    <p class="text-muted">Técnico Productor en Medios Audiovisuales.
                        Se desempeña como realizador audiovisual y docente de La Coope Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/pipol/belen.jpg" alt="..." />
                    <h4 class="text-dark team-name">Belén González</h4>
                    <p class="text-muted mb-0 fs-5">Socia</p>
                    <p class="text-muted">Realizadora audiovisual. Se desempeña como productora y docente de La Coope
                        Films.
                    </p>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-instagram fs-4"></i></button>
                    <button type="button" class="btn btn-dark btn-circle m-2"><i
                            class="fa-brands fa-linkedin-in fs-4"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>