<nav class="navbar navbar-expand-lg navbar-dark mx-5">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="./index.html"><strong>Logo</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto fs-3">
                <a class="nav-link me-4" aria-current="page" href="#quienes-somos">Quienes somos</a>
                <a class="nav-link me-4" href="#portfolio">Proyectos</a>
                <a class="nav-link me-4" href="#contacto">Contacto</a>
            </div>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item mx-auto fs-2">
                    <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="nav-item mx-auto fs-2">
                    <a class="nav-link" href="#"><i class="fa-brands fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>