.logo {
max-height: 3em;
filter: grayscale(100%);
transition: all 200ms;
}

.logo:hover {
    filter: grayscale(0%);
}

.filtro-logo:hover {
    color: #EF8118 !important;
    transition: all 300ms;
}