<section class="bg-dark text-light seccion">
    <div class="container">
      <div class="col">
        <h2 class="fs-1 mb-5"><strong>¿Qué<span class="naranja-coope"> hacemos?</span></strong>
        </h2>
        <p></p>
        <p class="fs-4 mt-5">Nuestro recorrido realizando piezas de ficción nos permite producir para marcas, artistas,
          y áreas gubernamentales, aportando la visión y poética que nos identifican.
        </p>
        <p class="fs-4 mt-5">La Coope Films produce desde el año 2015, y desde 2016 brinda espacios de formación,
          capacitando a los profesionales con los que colaboraremos en el futuro. Somos un equipo multidisciplinario
          dedicado a construir espacios saludables de producción audiovisual.</p>
      </div>
    </div>
  </section>