@font-face {
  font-family: 'Duplet Regular';
  src: url('./assets/fonts/Duplet-Regular.otf');
}

@font-face {
  font-family: 'Duplet Semibold';
  src: url('./assets/fonts/Duplet-Semibold.otf');
}

@font-face {
  font-family: 'Duplet Extrabold';
  src: url('./assets/fonts/Duplet-Extrabold.otf');
}

body {
  font-family: 'Duplet Regular';
}

.subtitulo {
  font-family: 'Duplet Extrabold';
}

.naranja-coope {
    color: #EF8118;
  }

.seccion {
  padding-top: 8em;
  padding-bottom: 5em;
}

