.logo {
  max-height: 3em;
  filter: grayscale(100%);
  transition: all 200ms;
}

.logo:hover {
  filter: grayscale(0%);
}

.filtro-logo:hover {
  color: #EF8118 !important;
  transition: all 300ms;
}

.cajita {
  position: relative;
  height: 100vh;
}

.video-cajita {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-cajita video {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.titulo {
  position: absolute;
  bottom: 15%;
  left: 5;
  font-size: 9em;
  color: rgb(255, 255, 255);
  font-family: 'Duplet Extrabold';
}

.titulo2 {
  position: absolute;
  bottom: 4%;
  left: 5;
  font-size: 7em;
  color: #EF8118;
  font-family: 'Duplet Extrabold';
}

@media (max-width: 575.98px) {
  .titulo {
    font-size: 4.2em;
    bottom: 25%;
  }

  .titulo2 {
    font-size: 4em;
    bottom: 18%;
  }
}