
<section class="cajita">
    <div class="video-cajita">
        <video src="assets/video/reel-portada.mp4" autoplay="true" muted="true" loop="true"></video>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark mx-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"><img class="logo ms-3" src="../assets/img/logob.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto fs-3">
    
                </div>
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item mx-auto fs-2 ">
                        <a class="nav-link filtro-logo" href="https://www.instagram.com/lacoopefilms/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="nav-item mx-auto fs-2">
                        <a class="nav-link filtro-logo" href="https://www.youtube.com/@lacoopefilms" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <h1 class="titulo"><strong>LA COOPE</strong></h1>
        <h1 class="titulo2"><strong>FILMS</strong></h1>
    </div>
</section>
